<!-- About Section -->

<link rel="stylesheet" href="/lib/flickity.min.css" media="screen">
    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Galleria</h2>
                    <h3 class="section-subheading text-muted">Seguimi su
                        
                        <a href="https://www.instagram.com/claravoyant_ink/">Instagram: @claravoyant_ink</a>
                        
                        
                        
                        per i miei altri lavori</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="main-gallery js-flickity" style="width: auto;" data-flickity-options=
                    '{ "cellAlign": "center", "freeScroll": false,
                        "wrapAround": true, "autoPlay":true      }'>
                    <div class="gallery-cell">
                        <img src="/img/gallery/falena.jpg" style="height: 500px; ">
                    </div>
                    <div class="gallery-cell">
                        <img src="/img/gallery/nofuture.jpg" style="height: 500px; ">
                    </div>
                    <div class="gallery-cell">
                        <img src="/img/gallery/first.jpg" style="height: 500px; ">
                    </div>
                    <div class="gallery-cell">
                        <img src="/img/gallery/flowers.jpg" style="height: 500px; ">
                    </div>
                    <div class="gallery-cell">
                        <img src="/img/gallery/sketches.jpg" style="height: 500px; ">
                    </div>
                </div>
                </div>
            </div>

            <script src="/lib/flickity.pkgd.min.js"></script>
        </div>
    </section>